.radio-custom .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #006698;
}

.radio-custom .ant-radio-button-wrapper:hover {
  color: #006698;
}

.space {
  height: 100vh;
  justify-content: center;
}